// unfortunately SASS has no bitwise support, so I can't use FLAGs
@import "./variables.scss";
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/mononoki.min.css");
@import "../node_modules/bulma/bulma.sass";

$background-color: $bg;
$code-background-color: $bg;
$code-border: 1px inset $grey;
$code-border-radius: 5px;
$text-color: $fg;
$link-color: $doom-blue;

$title-color: $fg;
$subtitle-color: $fg-alt;

$footnotes-title-color: $fg;

$list-bullet-color: $doom-blue;
$list-bullet-font: mononoki;

$toc-divider: thin solid $grey;
$toc-rule: 1px dashed $grey;

$rainbow-titles: true;
$rainbow-titles-depth: 12;
rt-h2  {
    color: $doom-red;
    font-family: mononoki } // with a custom font
rt-h3  {
    color: $doom-orange;
    font-family: mononoki }
rt-h4  {
    color: $doom-green;
    font-family: mononoki }
rt-h5  {
    color: $doom-teal;
    font-family: mononoki }
rt-h6  {
    color: $doom-yellow;
    font-family: mononoki }
rt-h7  {
    color: $doom-blue;
    font-family: mononoki }
rt-h8  {
    color: $doom-dark-blue;
    font-family: mononoki }
rt-h9  {
    color: $doom-magenta;
    font-family: mononoki }
rt-h10 {
    color: $doom-violet;
    font-family: mononoki }
rt-h11 {
    color: $doom-cyan;
    font-family: mononoki }
rt-h12 {
    color: $doom-dark-cyan;
    font-family: mononoki }

$outline-2-divider: thin dotted $grey;

$main-font: $family-sans-serif;
$code-font: mononoki;
