// doom-one
$bg:     #282c34;
$bg-alt: #21242b;
$base0:  #1B2229;
$base1:  #1c1f24;
$base2:  #202328;
$base3:  #23272e;
$base4:  #3f444a;
$base5:  #5B6268;
$base6:  #73797e;
$base7:  #9ca0a4;
$base8:  #DFDFDF;
$fg:     #bbc2cf;
$fg-alt: #5B6268;

$doom-grey:      $base4;
$doom-red:       #ff6c6b;
$doom-orange:    #da8548;
$doom-green:     #98be65;
$doom-teal:      #4db5bd;
$doom-yellow:    #ECBE7B;
$doom-blue:      #51afef;
$doom-dark-blue: #2257A0;
$doom-magenta:   #c678dd;
$doom-violet:    #a9a1e1;
$doom-cyan:      #46D9FF;
$doom-dark-cyan: #5699AF;
